body {
    background: #f1f7fc;
}

.first-card {
    background: white;
    margin: auto;
    padding: 30px;
    padding-right: 50px;
    width: 280px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    position: absolute;
    margin-top: 10%;
    margin-left: 25%;
}

.second-card {
    background: white;
    margin: auto;
    padding: 30px;
    padding-right: 50px;
    width: 280px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;

}


.first-card p {
    font-size: large;
}

.xmark {
    display: block;
    float: inline-end;
    font-size: x-large;
    color: rgb(89, 77, 77);
}

.button {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 300px;
}

.left {
    float: inline-start;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border-color: #c00e0f;
    background: white;
    cursor: pointer;
}

.right {
    float: inline-end;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: #f1f7fc;
    background: #c00e0f;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.button-second {
    margin-top: 30px;
    margin-bottom: 30px;
}

.email {
    width: 290px;
    height: 40px;
    border-radius: 20px;
    border-color: #c00e0f;
    background: white;
    margin-bottom: 10px;
}

.right-second {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: #f1f7fc;
    background: #c00e0f;
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #843737;
    color: aliceblue;
}