@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #111;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #017143;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #111;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #111;
    text-decoration: none;
}

header.sticky ul li a {
    color: #fff;
}

.home {
    padding: 100px;
    position: relative;
    min-height: 100vh;
    background: url(banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.home h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.home h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.home h3 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
    height: 100vh;
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    font-size: 4em;
    margin-bottom: 50px;
}

.hero-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
}

.hero-content .hero-image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.hero-content .hero-image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-content .hero-text {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 100px);
}

.hero-content .hero-text h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icons {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.media-icons a {
    color: #fff;
    font-size: 2em;
    margin: 60px;
}

.card-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.card-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0d);
    clip-path: circle(30% at right 70%);
}

.card-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.card-container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.card-container .card .card-content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.card-container .card:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}

.card-container .card .card-content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.card-container .card .card-content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.card-container .card .card-content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.card-container .card .card-content button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

.modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    animation: modal-open .5s;
}

.modal-content {
    background: rgba(255, 255, 255, 0.485);
    border-radius: 10px;
    color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}

.modal-content h2 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.modal-content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.modal-content button {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgba(255, 0, 0, 0.513);
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

@keyframes modal-open {
    form {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.vehicles {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicles-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vehicles-content .vehicles-textBox {
    position: relative;
    width: 600px;
}

.vehicles-content .vehicles-textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.vehicles-content .vehicles-textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.vehicles-content .vehicles-textBox p {
    color: #fff;
}

.vehicles-content .vehicles-textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.vehicles-content .vehicles-imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.vehicles-content .vehicles-imgBox img {
    max-width: 700px;
}

.vehicles-thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.vehicles-thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.vehicles-thumb li:hover {
    transform: translateY(-15px);
}

.vehicles-thumb li img {
    max-width: 150px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(650px at right 800px);
}


.testimonial {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    width: 320px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #f2efef;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    filter: blur(1px);
}

.swiper-slide-active {
    filter: blur(0);
    background: #fff;
}

.testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}

.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    opacity: 0.2;
}

.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .details-imgBox {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonialBox .details .details-imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialBox .details .details-imgBox h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}

.testimonialBox .details .details-imgBox h3 span {
    font-size: 12px;
    color: #666;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contact {
    background: #111;
    padding: 100px 100px 0px;
}

.formBx {
    min-width: 60%;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}