@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10vw;
    background-image: url(https://i.pinimg.com/originals/1b/7b/5f/1b7b5f65778bc3f52320559f3db6665e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease all .5s;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: ease all .5s;
}

.container:nth-child(1) {
    background-position: center;
    background-image: url(https://png.pngtree.com/background/20221126/original/pngtree-geometric-gradient-purple-border-and-gold-line-on-white-background-picture-image_1965267.jpg);
}

.container:nth-child(2) {
    background-image: url(https://i.pinimg.com/474x/c6/e2/8a/c6e28aa10b2c5de7ddbfe585858447f6.jpg);

}

.container .back {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 440px;
    height: 640px;
    border-radius: 10px;
    z-index: -1;
    transition: ease all .5s;
}

.container:nth-child(1) .back2 {
    position: absolute;
    top: 250px;
    left: -120px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    z-index: -1;
    background-color: purple;
    opacity: .1;
    transition: ease all .5s;
}

.container:nth-child(2) .back2 {
    position: absolute;
    top: -110px;
    left: -120px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    z-index: -1;
    background-color: pink;
    opacity: .2;
}

.container:nth-child(1) .back {
    background-color: hsl(265, 100%, 86%);
    opacity: .2;
}

.container:nth-child(2) .back {
    background-color: hsl(336, 85%, 87%);
    opacity: .2;
}

.container h3 {
    font-size: 25px;
    font-weight: 600;
}

.container:nth-child(1) h3 {
    color: hsl(272, 61%, 34%);
}

.container:nth-child(2) h3 {
    color: hsl(329, 75%, 56%);
}

.container p span {
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

.container .header {
    text-align: start;
    margin-right: 200px;
}

.container .header2 {
    text-align: start;
    margin-right: 140px;
}

.container p {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.container ul li {
    line-height: 50px;
    font-weight: 500;
}

.container:nth-child(1) ul li i {
    background-color: #1111;
}

.container ul li i {
    font-size: 20px;
    font-weight: 700;
    color: green;
    padding: 5px;
    background-color: rgb(241, 191, 199);
    border-radius: 50%;
    margin-right: 0.8rem;
}

.container button {
    width: 100%;
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.container:nth-child(1) button:active{
    background-color: hsl(272, 61%, 34%);
    opacity: .2;
    color: #fff;
}
.container:nth-child(2) button:active{
    background-color: hsl(329, 75%, 56%);
    opacity: .2;
    color: #fff;
}

.container:nth-child(1) button {
    background: transparent;
    color: hsl(272, 61%, 34%);
    border: 1px solid hsl(272, 61%, 34%);
}

.container:nth-child(2) button {
    background: hsl(329, 75%, 56%);
    color: #fff;
    border: none;
}

@media (max-width:1200px){
    body{
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/425/291/non_2x/abstract-pink-gold-geometric-background-free-vector.jpg);
    }
}

@media (max-width:600px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 100px;
        background-color: hsl(335, 56%, 72%);
        background-image: none;
        gap: 10vh;
        background-image: url(https://static.vecteezy.com/system/resources/previews/002/317/766/non_2x/pink-luxury-rose-gold-gradient-background-free-vector.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container:nth-child(1) .back2{
        top: -60px;
        left: -60px;
        width: 250px;
        height: 250px;
    }

    .container:nth-child(2) .back2{
        top: -200px;
        left: 50px;
    }
}