* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.02rem;
}

svg {
    width: 50px;
    height: 50px;
}

body {
    background-color: #eee;
}

.toogle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    top: 250px;
    left: 850px;
    cursor: pointer;
}

.text {
    position: absolute;
    right: 0;
    bottom: -210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 4px;
    display: block;
    width: 200px;
    background-color: #fff;
}

.text p {
    font-size: 20px;
    line-height: 3rem;
    padding-left: 1rem;
}

.text p:hover {
    background: #eee;
}

.widged {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-radius: 5px;
    width: 400px;
    padding: 50px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    top: 100px;
    left: 1050px;
}

.widged h2 {
    font-size: 28px;
    margin-bottom: 35px;
}

.widged div {
    margin-bottom: 30px;
    width: 100%;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.widged div label {
    font-size: 22px;
    margin-left: 0.4rem;
}

.widged .btn {
    display: flex;
    gap: 10px;
}

.widged .btn button {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
}

.widged .btn button:nth-child(1) {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.widged .btn button:nth-child(2) {
    border: none;
    background-color: #ffa500;
}

.other {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-radius: 5px;
    width: 400px;
    padding: 50px;
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    top: 650px;
    left: 1000px;
}

.other h2 {
    font-size: 28px;
    margin-bottom: 35px;
}

.other div {
    width: 100%;
    margin-bottom: 30px;
}

.other div label {
    font-size: 19px;
    margin-left: 0.4rem;
}

@media (max-width:991px) {
    .toogle {
        top: 70px;
        left: 220px
    }

    .text {
        left: 120px;
        bottom: -50px;
    }

    .widged {
        top: 240px;
        left: 220px
    }

    .other {
        top: 760px;
        left: 220px
    }
}

@media (max-width:600px) {
    .toogle {
        left: 20px;
    }

    .text {
        left: 120px;
        bottom: -50px;
    }

    .widged {
        left: 20px;
    }

    .other {
        left: 20px;
    }
}